# 1.**Lists**

1.Create an empty list and add five integers to it.

In [1]:
empty_list=[]
empty_list.append(10)
empty_list.append(11)
empty_list.append(12)
empty_list.append(13)
empty_list.append(11)
empty_list

[10, 11, 12, 13, 11]

2.Declare a list of your favorite fruits and print the second fruit.

In [2]:
fruit_list=['apple','banana','grapes','watermelon']
fruit_list[1]

'banana'

 3. Add two lists together

In [3]:
number=[1,2,3,4]
fruit_list=['apple','banana','grapes','watermelon']
list_add=number+fruit_list
list_add

[1, 2, 3, 4, 'apple', 'banana', 'grapes', 'watermelon']

4.Remove an item from the list

In [4]:
fruit_list=['apple','banana','grapes','watermelon']
fruit_list.remove('apple')
fruit_list

['banana', 'grapes', 'watermelon']

5.Check if a specific element is present in the list.

In [5]:
fruit_list=['apple','banana','grapes','watermelon']
find='apple'
if find in fruit_list:
    print(f'{find} is present in given list')
else:
    print(f'{find} is not present in given list')

apple is present in given list

6.Reverse the order of elements in the list.

In [6]:
fruit_list=['apple','banana','grapes','watermelon']
fruit_list.reverse()
fruit_list

['watermelon', 'grapes', 'banana', 'apple']

7.Sort the list in ascending order.

In [7]:
number=[4,5,3,6,7]
number.sort()
number

[3, 4, 5, 6, 7]

# using comprehenser

8.Create a list of numbers and square each number using a list comprehension.

In [8]:
Given_list=[4,5,7,2,5,7]
squared_list=[num**2 for num in Given_list ]
squared_list

[16, 25, 49, 4, 25, 49]

9.Create a list of even numbers from 1 to 10 using list comprehension.

In [9]:
given_list=[1,2,3,4,5,6,7,8,9,10]
even_num_list=[num for num in  given_list if (num%2)==0 ]
even_num_list

[2, 4, 6, 8, 10]

10.Generate a list of square roots for numbers from 1 to 5 using list comprehension.

In [10]:
import math
list_square_root=[math.sqrt(num) for num in range(1,6)]
list_square_root

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

# 2. Tuples

1. Declare a tuple of your favorite colors.

In [11]:
fev_color=('green','pink','black','white')
type(fev_color)

tuple

2. Access and print the third item in the tuple.

In [12]:
fev_color=('green','pink','black','white')
fev_color[2]

'black'

3. Concatenate two tuples.

In [13]:
fev_color=('green','pink','black','white')
number=(1,2,3,4,5)
concat=fev_color+number
concat

('green', 'pink', 'black', 'white', 1, 2, 3, 4, 5)

4. Attempt to modify an item in the tuple and observe the result.

In [14]:
fev_color=('green','pink','black','white')
fev_color[2]='red'                       
fev_color
#From this we can uderstand that tuples are immutable ,we cant manipulate or altered the data in tuples.

TypeError: 'tuple' object does not support item assignment

5. Create a tuple with a single element.

In [15]:
tuple_with_single_element=(1,)
tuple_with_single_element

(1,)

6. Unpack the elements of a tuple into separate variables.

In [16]:
fev_color=('green','pink','black','white')
color1,color2,color3,color4=fev_color
print(color1,color2,color3,color4)

green pink black white

7. Check if an item is present in the tuple.

In [17]:
fev_color=('green','pink','black','white')
color='green'
if color in fev_color:
    print(f'{color} is present')
else:
     print(f'{color} is not present')

green is present

8. Create a tuple with elements of different data types (int, float, string) and print each element.

In [18]:
elements_with_different_datatypes=(20,"Amit",True,2.4)
element1,element2,element3,element4=elements_with_different_datatypes
print(element1)
print(element2)
print(element3)
print(element4)

20
Amit
True
2.4

9. Find the index of a specific element in the tuple

In [19]:
elements=(2,4,55,6,8,9,2,4,5)
elements.index(55)

2

10. Create a tuple of numbers from 1 to 5 and print a slice of the tuple

In [20]:
tuples=(1,2,3,4,5)
tuples[0:2]

(1, 2)

11. Create a tuple with repeated elements and count the occurrences of a specific element.

In [21]:
tuple_with_repeated_element=(10,20,10,20,4,10,5,10,3)
tuple_with_repeated_element.count(10)

4

 12. Create a list of colors and convert it into a tuple

In [22]:
list_of_color=['green','pink','black','white']
converting_into_tuples=tuple(list_of_color)
type(converting_into_tuples)

tuple

13. Create a tuple of names and sort them alphabetically.

In [23]:
names=('milyani','kalyani','shreya','simran','anushka')
tuple(sorted(names))

('anushka', 'kalyani', 'milyani', 'shreya', 'simran')

# 3. Dictionaries

1. Create a dictionary representing your contact information (name, email, phone number).

In [24]:

contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}

contact_info

{'name': 'milyani',
 'email': 'minnupatil1432@gmail.com',
 'phone number': 7862526839}

2. Print just the keys of the dictionary.

In [25]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}
contact_info.keys()

dict_keys(['name', 'email', 'phone number'])

3. Print just the values of the dictionary.

In [26]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}
contact_info.values()

dict_values(['milyani', 'minnupatil1432@gmail.com', 7862526839])

4. Access and print a specific value from the dictionary.

In [27]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}
contact_info.get('email')

'minnupatil1432@gmail.com'

5. Update your phone number in the dictionary.

In [28]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com'}
contact_info.update({'phone number':7862526839})
contact_info

{'name': 'milyani',
 'email': 'minnupatil1432@gmail.com',
 'phone number': 7862526839}

6. Remove an item from the dictionary.

In [29]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}
contact_info.pop("name")
contact_info

{'email': 'minnupatil1432@gmail.com', 'phone number': 7862526839}

7. Check if a specific key is present in the dictionary.

In [30]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}
find_key='name'
if find_key in contact_info:
    print(f'{find_key} key is present in given list')
else:
    print(f'{find_key} key is not present in given list')

name key is present in given list

8. Loop through the dictionary and print key-value pairs.

In [31]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}
for key,value in contact_info.items():
    print(f'{key}:{value}')

name:milyani
email:minnupatil1432@gmail.com
phone number:7862526839

9. Create an empty dictionary and add three key-value pairs to it.

In [32]:
empty_dict={}
empty_dict['fruit']='apple'
empty_dict['vagetable']='tomato'
empty_dict['number']=40

empty_dict

{'fruit': 'apple', 'vagetable': 'tomato', 'number': 40}

10. Create a dictionary with some key-value pairs. Use a method to clear all items from the dictionary.

In [33]:
contact_info={'name':'milyani','email':'minnupatil1432@gmail.com','phone number':7862526839}
contact_info.clear()
contact_info

{}

# 4. Sets

1. Create two sets of numbers and perform set union and intersection operations.

In [34]:
set1={1,3,5,6,8,9,10}
set2={3,5,7,9,4,3,2}
#using union()
union=set1.union(set2)
union
#using union operator
union=set1 |set2
union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
#Intersection of two sets
set1={1,3,5,6,8,9,10}
set2={3,5,7,9,4,3,2}
intersection=set1.intersection(set2)
intersection

{3, 5, 9}

2. Add a new element to one of the sets.

In [36]:
set1={11,1,3,5,6,8,9,10}
set2={3,5,7,9,4,3,2}
set1.add(2)
set1

{1, 2, 3, 5, 6, 8, 9, 10, 11}

3. Remove an element from one of the sets.

In [37]:
set1={11,1,3,5,6,8,9,10}
set2={3,5,7,9,4,3,2}
set1.remove(8)
set1

{1, 3, 5, 6, 9, 10, 11}

4. Check if a specific element is present in a set.

In [38]:
set1={11,1,3,5,6,8,9,10}
item=100
if item in set1:
    print(f"{item} is present")
else:
    print(f"{item} is not present")

100 is not present

5. Create a set from a list.

In [39]:
list1=["richa","priya","gopi","billu"]
set_from_list=set(list1)
type(set_from_list)

set

6. Clear all elements from a set.

In [40]:
set1={11,1,3,5,6,8,9,10}
set1.clear()
set1

set()

7. Check if one set is a subset of another.

In [41]:
set1={11,1,3,5,6,8,9,10}
set2={3,5,7,9,4,3,2}
checking=set2.issubset(set1)
checking

False

8. Generate a set of squares for numbers from 1 to 5 using set comprehension

In [42]:
square={num**2 for num in range(1,6)}
square

{1, 4, 9, 16, 25}

9. Create an empty set.

In [43]:
empty_set={}
empty_set

{}